body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px 0;
}

.container {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    box-sizing: border-box;
}

.main_content {
    padding: 20px;
    overflow-y: hidden;
    height: 100vh;
    width: 1000px;
    background-color: aqua;
}

.main-image {       
    height: 90%;
    overflow-y: scroll;
    align-items: center;
    margin-left: 15%;
}

.main-image img {
    width: 200px; /* Fixed width for main image */
    height: 200px; /* Fixed height for main image */    
    overflow-y: visible;
}

.gallery_container {
    overflow-y: hidden;
    height: 100vh;
    width: 230px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #255;
}

.gallery_container h2 {
    color: white;
    margin-left: 55px;
}

.thumbnail-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #255 ;
    overflow-y: scroll; /* Enable vertical scrolling */
    height: 80%;
}

.thumbnail {
    width: 180px; /* Fixed width for thumbnails */
    height: 150px;  /* Fixed height for thumbnails */
    margin-bottom: 10px;
    transition: transform 0.2s, border-color 0.2s;
}

.thumbnail img {
    width: 100%; /* Ensure the image fits the container */
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio, cover the entire container */
    cursor: pointer;
}

.thumbnail:hover {
    transform: scale(1.05);
    border-color: #777;
}

.button-6 {
    margin-left:55px;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-6:hover,
  .button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .button-6:hover {
    transform: translateY(-1px);
  }
  
  .button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }